{% extends "index.html" %} 
{% block container %} 
<style>
    .helptext{
        display:none;
    }
    .pass-form{
        padding:30px;
    }
    .success{
        text-align: center;
        color: green;
        font-size: 20px;
        margin: 10px 0px;
    }
    .warning{
        text-align: center;
        color: red;
        font-size: 20px;
        margin: 10px 0px; 
    }
</style>

<div class="container p-5">
    
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="card">
                <div class="card-block">
                    <form method="post" class="pass-form">
                        {% csrf_token %}
                        {{form}}
                            <div class="form-group">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
<script>
    const old_password = document.getElementById('id_old_password');
	  old_password.className = 'form-control topic-name';

	const new_password1 = document.getElementById('id_new_password1');
	new_password1.className = 'form-control topic-name';

    const new_password2 = document.getElementById('id_new_password2');
	new_password2.className = 'form-control topic-name';
    new_password2.style = "margin-bottom:30px"

</script>
 {% endblock %}
