{% extends "index.html" %}
{% load static %}
{% block container %}

<style>
    .error-login{
        text-align:center;
        color:red;
    }
    .error-image{
        height: 60px;
        width: 60px;
    }
</style>

    <main class="site-main page-wrapper woocommerce single single-product">
        <section class="space-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="woocommerce-notices-wrapper"></div>
                        <h2 class="font-weight-bold mb-4">Login</h2>
                        {% if form.errors %}
                            <p class="error-login">The username or password you have entered is invalid
                                <img src="{% static 'img/error-image.gif' %}" class="error-image" />
                            </p>
                        {% else %}
                        {% endif %}
                        <form class="woocommerce-form woocommerce-form-login login" method="post">
                            {% csrf_token %}
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="username">Email address&nbsp;<span class="required">*</span></label>
                                <input type="text" class="woocommerce-Input woocommerce-Input--text input-text form-control" name="username" id="username" autocomplete="username" value="" placeholder="Email" required>
                            </p>
                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                <label for="password">Password&nbsp;<span class="required">*</span></label>
                                <input class="woocommerce-Input woocommerce-Input--text input-text form-control" type="password" name="password" id="password" autocomplete="current-password" placeholder="password" required>
                            </p>
                            <p class="form-row">
                                <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="a414dce984"><input type="hidden" name="_wp_http_referer" value="/my-account/">
                                <button type="submit" class="woocommerce-button button woocommerce-form-login__submit" name="login" value="Log in">Log in</button>
                                <label class="woocommerce-form__label woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme">
                                    <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>


{% endblock container %}