{% extends "index.html" %} {% load static %} {% block container %} 

<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>IT-Essentials-Course</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding course">
    <div class="container">
        <h3>News</h3>
        <div class="row">
            {% for news in news %}
                <a href="{% url 'news_details' news.id %}"> 
                    <div class="card m-2" style="width: 19rem;">
                        <div class="card-body">
                            <h5 class="card-title">- {{news.title}}</h5>
                            <p class="card-text">{{news.snippet}}</p>
                            <p class="card-text"><i class="fa fa-calendar-alt"></i><small class="text-muted"> Published On {{news.published_date}}</small></p>
                        </div>
                    </div>
                </a>
            {% endfor %}


        </div>
    </div>
</section>

{% endblock container %}