{% extends 'base.html' %}

{% block container %}
<style>
    .other-field{
        color: #222d32;
        font-size: 17px;
        font-weight:900;
    }
</style>

<section class="content-header">
    <h1>
        Add Chapter
    </h1>
    <ol class="breadcrumb">
    <li class="active"><a href="{% url 'add_chapter' %}"><i class="fa fa-dashboard"></i> Add Chapter</a></li>
    </ol>
</section>

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-10 col-xl-10">
            <div class="card">
                <div class="card-block">
                    <form action="{% url 'add_chapter' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="name"  placeholder="Enter the chapter name" required >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <textarea name= "content" rows="8" cols="5" class="form-control" placeholder="Type in chapter description" required></textarea>
                            </div>
                        </div>
            
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <span class="other-field">Chapter Cover Image</span>
                                <input type="file"  name="cover_image" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <span class="other-field">Chapter File</span>
                                <input type="file" name="file_to_download" class="form-control" required>
                            </div>
                        </div>
                            <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0">SAVE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-xl-1"></div>
    </div>
   

</section>

{% endblock %}