{% extends "core/index.html" %}

{% block container %}

<style>
.contents{
    display: inline-flex;
    margin-top:50px

}
.card{
    width: 350px;
    border: 1px solid red;
    padding: 15px;
    margin:8px;
}
</style>

    <h3>Homepage</h3>
    <div class="contents">
    {% for chapter in  chapters %}
        <div class="card">
            <h4><a href="{% url 'chapter_content' chapter.name %}">{{chapter.name}}</a></h4>
            <p>{{chapter.snippet}}</p>
        </div>
    {% endfor %}
    </div>
{% endblock container %}