{% extends "index.html" %} {% load static %} {% block container %} 

<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>IT-Essential-Course</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding course">
    <!-- <div class="course-top-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <p>Showing 1-6 of 8 results</p>
                </div>

                <div class="col-lg-4">
                    <div class="topbar-search">
                        <form method="get" action="#">
                            <input type="text"  placeholder="Search our courses" class="form-control">
                            <label><i class="fa fa-search"></i></label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <div class="container">
        <h3>All Chapters</h3>
        <div class="row">
            {% for chapter in chapters %}
            <div class="col-lg-4 col-md-6">
                <div class="course-block">
                    <div class="course-img">
                        <img src="{% static 'assets/images/course/course-1.jpg' %}" alt="" class="img-fluid">
                        <div class="course-price ">
                            <a href="{% url 'chapter' chapter.id %}"><i class="far fa-eye text-white"></i></a></div>
                    </div>
                    <div class="course-content">
                        <span class="course-cat"></span>
                        <h4><a href="{% url 'chapter' chapter.id %}">Chapter {{chapter.id}} - {{chapter.name}}</a></h4>
                        <p>{{chapter.snippet}}</p>
                        <div class="course-meta">
                            <span class="course-duration"><a href="{% url 'take_exam' chapter.id %}"><i class="far fa-file-alt"></i>Take The Exam</a></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>

{% endblock container %}