
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Chapter</th>
      <th scope="col">Number of Questions</th>
      <th scope="col">Marks</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
   {% for exam in exams %}
       <tr>
            <td>{{exam.chapter}}</td>
            <td>{{exam.question_number}}</td>
            <td>{{exam.marks}}</td>
            <td><a href="{% url 'edit_exam' exam.id %}">Edit</a></td>
        </tr>
   {% endfor %}
  </tbody>
</table>
