

 <form method="get">
        {{ questions.form.as_p }}
        <input type="submit" />
    </form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Exam</th>
      <th scope="col">Question Description</th>
      <th scope="col">Score</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
   {% for question in questions.qs %}
       <tr>
            <td>{{question.exam}}</td>
            <td>{{question.name}}</td>
            <td>{{question.score}}</td>
            <td><a href="{% url 'edit_question' question.id %}">Edit</a></td>
        </tr>
   {% endfor %}
  </tbody>
</table>

